/* Feuille de style générale */

$bleu: #337aff;

body {
  background-color: #000000;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 10vh 1rem;
}

/* Images */

img {
  max-width:50%;
  max-height:50%;
  border-radius: 25px;
}

/* Avatar */
img.avatar {
  border-style: none;
  max-width: none;
  max-height: 70px;
  margin: auto;
  border-radius: 1px;
  padding: 5px;
  vertical-align: middle;
}
/* Icon */

img.icon {
  border-style: none;
  max-width: none;
  max-height: none;
  margin: auto;
  border-radius: 1px;
  padding: 5px;
  vertical-align: middle;
}

/* Titres */

h1 {
  font-size: 160%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 15em;
  margin-right: 15em;
  text-align: center;
  color: $bleu;
  padding: 15px;
  border-style: groove;
  border-radius: 25px;
}

h2 {
  font-size: 130%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  padding: 10px;
  border-style: groove;
  border-radius: 25px;
}

h3 {
  font-size: 120%;
  margin: 2em;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding: 20px;
  border-style: groove;
  border-radius: 25px;
}

h4 {
  font-size: 100%;
  margin: 1em;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  padding: 20px;
  border-style: groove;
  border-radius: 25px;
}

/* Extraits de code */

div.highlight {
  text-align: left;
  border-radius: 25px;
  margin-top: 30px;
  width: 100%;
  height: 8.4em;
  line-height: 1.2em;
  overflow:hidden;
}

pre {
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 1250px;
  padding-left: 10px;
  padding-top: 5px;
  overflow: scroll;
  padding-right: 17px;
  padding-bottom: 17px;
  box-sizing: content-box;
}

input[type=checkbox]:checked ~ div.highlight {
  height: 500px;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity:0;
}

label {
  cursor: pointer;
}

code {
  padding: 15px;
  word-wrap: break-word;
  max-width: 1250px;
}

#text-more {
  padding: 10px;
  margin-right: 10px;
  border-style: groove;
  border-radius: 25px;
}

/* Liens */

a {
  color: rgba(#ffffff, 0.7);

  &:focus,
  &:hover {
    color: rgba(#ffffff, 0.3);
  }
}

a + a {
margin-left: 0.4em;
}

/* En-tête */

header, div {
  text-align: center;
}

/* Onglets */

aside {
  text-align: center;
}

/* Pied de page */

footer {
  background-color: $bleu;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
}
