<!-- lien de téléchargement (à utiliser avec la gem syntax) -->
<input id="more" type="checkbox">
<p id="text-more">Afficher/masquer le code <a href="<%= code_file %>" download>(télécharger ↓)</a></p>
