<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="8u 12u(mobile)">

        <p>
          <%= current_page.data.author.all %> - <%= current_page.data.author.school %>. 
        </p>
      </div>
    </div>
  </footer>
</div>
