<div id ="footer-wrapper">
  <footer id ="footer" class="container">
    <div class="row">
      <p class="footer">
        <%= current_page.data.author.all %> - <%= current_page.data.author.school %>.
      </p>
    </div>
  </footer>
</div>
