<!-- pied de page -->
<div id ="footer-wrapper">
  <footer id ="footer" class="container">
    <div class="row">
      <p class="footer">
        Site réalisé par <%= current_page.data.author.all %> - <%= current_page.data.author.school %>.
      </p>
      <p class="footer">
        <%= current_page.data.site.credits %>
      </p>
    </div>
  </footer>
</div>
