---
site:
  title: Projet BAO
  categorie: Synthèse
  description: Projet de traitement automatique des langues, utilisant Perl et XSLT

author:
  all: Milena Chaîne, Margaux Duhayon, Ferial Yahiaoui
  milena: Milena Chaîne
  margaux: Margaux Duhayon
  ferial: Ferial Yahiaoui
  school: Inalco

master:
  site: "http://www.tal.univ-paris3.fr/plurital/"

layout: layout
---

<% content_for :logo do %>
<%= image_tag "logo.jpg" %>
<% end %>

<p> Pour ce projet, nous avons décidé d'utiliser l'actualité de l'année 2017 afin de choisir nos motifs et d'effectuer nos graphes.
<br/> Nous nous sommes inspirées de plusieurs grands événements de l'année 2017 afin de réaliser nos analyses. </p>

<p>Tout d'abord, du 23 avril 2017 au 7 mai 2017 a eu lieu la onzième élection présidentielle de la Ve République qui a été emplie de beaucoup de rebondissements.
</br>Ainsi, <b>L'affaire Fillon</b> a pris une place importante dans ces élections. Appelée aussi l'affaire Pénélope Fillon ou Penelopegate, cette affaire concerne François Fillon, candidat de la droite et du centre, et son épouse Pénélope Fillon.
</br>Elle porte sur des soupçons d'emplois fictifs. (motifs: Fillon - scandale - affaire)</p>

<p> Mais surtout, nous avons vu des débats importants pour ces présidentiellesa ont été Macron, election, mouvement en marche, insoumis, mélenchon, insoumis: (motifs: gauche - droite - politiciens)</p>

<p> Ensuite il y a eu un événement marquant de l'histoire qui est le <b> Brexit </b>.
<br/> Composé des mots <b> Britain </b> et <b> exit </b>, le Brexit désigne la sortie de la Grande-Bretagne de l'Union Européenne.
 Après un référendum, la population de Grande-Bretagne a voté favorable au Brexit le 23 juillet 2016. Il faudra 2 ans à partir du 29 mars 2017 pour que cette sortie soit effective.  (motifs: européen - eu)</p>

 <p> Mais il y eu aussi l'Affaire Harvey Weinstein qui fût un mouvement mondial.
<br> Harvey Weinstein est un producteur qui harcela et agressa sexuellement de nombreuses femmes. Lorsqu'une douzaine d'entre elles portent plainte,
la parole des autres femmes s'est libérée et nous avons vu des mouvements émergés.
<br/> Le mouvement Metoo, avec un hashtag également (#Metoo), est un mouvement qui s'est diffusé grâce aux réseaux sociaux.
<br/> Il a été lancé en Octobre 2017 par Tarana Burkle afin d'encourager les femmes à parler et de faire réaliser aux hommes, le nombre de femmes qui fûrent agressées dans leur cercle.
<br/> Il a permis aux femmes de mettre à jour toutes les inégalités dont elles sont victimes quotidiennement dans tout milieux.
<br/> En France, le mouvement s'est traduit par la suite par le hashtag #BalanceTonPorc. (motifs: femme - homme - mouvement - scandale )</p>

<p> Voici le tableau que l'on a efféctué afin de réfléchir aux différents motifs que nous avons étudié. </p>
<br/><br/>
<div class= "tableau"><table style="float:center">
  <tr>
    <th rowspan="2">Motifs recherchés</th>
    <th colspan="3">Milena Chaîne</th>
    <th colspan="3">Margaux Duhayon</th>
    <th colspan="3">Ferial Yahiaoui</th>
  </tr>
  <tr>
    <td>3210 (International)</td>
    <td>3214 (Europe)</td>
    <td>3224 (Société)</td>
    <td>823353 (Politique)</td>
    <td>3208 (Une)</td>
    <td>3246 (Culture)</td>
    <td>3476 (Cinéma)</td>
    <td>3232 (Idées)</td>
    <td>3260 (Livres)</td>
  </tr>
  <tr>
  <th>(scandales?)|(affaires? )|(cas)|(.*gate/b)</th>
    <td>✓</td>
    <td>✓</td>
    <td>✓</td>
    <td>✓</td>
    <td>✓</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <th>Macron</th>
      <td></td>
      <td></td>
      <td></td>
      <td>✓</td>
      <td>✓</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <tr>
      <th>Fillon</th>
        <td></td>
        <td></td>
        <td></td>
        <td>✓</td>
        <td>✓</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
        <tr>
        <th>(gauche)|(droite)</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>✓</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
          <tr>
          <th>[Ff]emmes?</th>
            <td></td>
            <td></td>
            <td></td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
          <th>[Hh]ommes?</th>
          <td></td>
          <td></td>
          <td></td>
          <td>✓</td>
          <td>✓</td>
          <td>✓</td>
          <td>✓</td>
          <td></td>
          <td></td>
          </tr>
          <tr>
  <th>*estime?</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>✓</td>
  <td></td>
  </tr>
  <tr>
<th>.*explique.*</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>✓</td>
<td></td>
</tr>
  <tr>
<th>\bà\b</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>✓</td>
</tr>
<tr>
<th>mouvements?</th>
<td>✓</td>
<td></td>
<td>✓</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<th>européen(ne)?s?</th>
<td></td>
<td>✓</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table></div><br/><br/>
