---
site:
  title: Projet BAO
  categorie: Milena Chaîne
  description: Projet de traitement automatique des langues, utilisant Perl et XSLT

author:
  all: Milena Chaîne, Margaux Duhayon, Ferial Yahiaoui
  milena: Milena Chaîne
  margaux: Margaux Duhayon
  ferial: Ferial Yahiaoui
  school: Inalco

master:
  site: "http://www.tal.univ-paris3.fr/plurital/"

---

<%= partial "onglets" %>

<% link_to current_page.data.master.site do %>
  <%= image_tag 'logo.jpg' %>
<% end %>

<h1>
  <%= current_page.data.site.title %>
</h1>

<h2>
  <%= current_page.data.site.categorie %>
</h2>

<p>Le fameux cours de python de première année à l'Inalco</p>
